@charset "UTF-8";
// =====================================================
// サイト基本設定
// =====================================================
// 幅関係の設定 ----------------------------------------------
$width-base: 900px; //全体
$width-content: 890px; //コンテンツ
$table: 100% / 4 - 3;
// マージン＆パディング設定 ----------------------------------------------
$space-center: 0 auto;
$space-0: 0;
$space-10: 10px;
$space-15: 15px;
$space-20: 20px;
$space-25: 25px;
$space-30: 30px;
$space-35: 35px;
// フォントの設定 --------------------------------------------
$font-base-pc: 17px; //PC基準になるフォントサイズ
$font-base-sp: 16px; //SP基準になるフォントサイズ
$font-small: 0.7em;
$font-h1: 1.3em;
$font-h2: 1.2em;
$font-h3: 1.1em;
$font-pp: 1.1em;
$font-psp: 1em;
$font: "Hiragino Kaku Gothic ProN",
"メイリオ",
sans-serif;
// 色関係の設定 ----------------------------------------------
//デコレーション関連
$txt-bold: bold;
$txt-under: underline;
//カラー関連[任意]
$base: #333;
$yellow: #ffff66;
$white: #ffffff;
$gray: rgba(gray, 0.3);
$green: rgba(green, 0.8);
// NEW COLOR
$dpink: #ff7a90;
$pink: pink;
$red: #e94a4a;
$blue: #668ad8;
// ブレイクポイント -------------------------------------------
// $breakpoints: (
//     sp : "only screen and (max-width: 599px)",
//     pc : "only screen and (min-width: 600px)",
// );